@mixin optimizationScroll(){
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #A2A2A2;
    border-radius: 2px;
  }
}
@mixin ellipsis {
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
@mixin rowsEllipsis($num){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}
